<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <!--<configuration debug="true" scan="true" scanPeriod="30 seconds">-->
    <springProperty scope="context" name="logLevel" source="application.logging.level"/>
    <springProperty scope="context" name="logPath" source="application.logging.path"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] [%class:%line] - %m %n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %highlight(%-5level) | %yellow(%thread) | %black([%class:%line]) - %m %n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE-OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/ufang-admin.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] [%class:%line] - %m %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/kangaroo-admin.%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <springProfile name="dev">
        <root level="${logLevel}">
            <appender-ref ref="STDOUT"/>
        </root>
        <logger name="org.mybatis" level="trace"/>
        <logger name="com.ufang" level="trace"/>
    </springProfile>

    <springProfile name="test">
        <root level="${logLevel}">
            <appender-ref ref="STDOUT"/>
        </root>
        <logger name="org.mybatis" level="trace"/>
        <logger name="com.ufang" level="trace"/>
    </springProfile>

    <springProfile name="prod">
        <root level="${logLevel}">
            <appender-ref ref="FILE-OUT"/>
        </root>
        <logger name="org.mybatis" level="trace"/>
        <logger name="com.ufang" level="trace"/>
    </springProfile>
</configuration>